@import url(/lib/fa/css/fa-all.min.css);

img {
    border-radius: 999px;
}

.spacebox {
    margin-bottom: 10px;
}

h2.resultLeadTitle {
    font-weight: bold;
    margin-top: 30px;
}

.topSpace {
    margin-top: 20px;
}

.copyElement:hover {
    cursor: pointer;
}

.copyElement:active {
    cursor: pointer;
}

.footerLink {
    text-decoration: none;
}


.counter {
    writing-mode: vertical-lr;
}

hr {
    border: solid 1px;
    width: 50%;
    margin: 30px 25% 30px 25% !important;
}

li {
    text-align: left;
}

textarea.center {
    text-align: center !important;
}

.left-align {
    text-align: left !important;
}

/* 
    From https://forum.freecodecamp.org/u/MakingStuffs/summary
    Fiddle https://jsfiddle.net/makingstuffs/cos2zbhd/
*/

.loader {
    position: relative;
    content: '';
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    border: 5px solid lightBlue;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0rem 0rem 0.6rem rgba(0,0,0,0.3);
    animation: spin 1s linear infinite;
    margin-top: 40px;
}

.loader.successSign {

    &::before
    {
        height: 7px;
        width: 2.5rem;
        position: absolute;
        top: 65%;
        left: 44%;
        transform: rotate(-45deg);
        transform-origin: 0% 50%;
        border-radius: 5px;
        animation: baseGrow 1s;
        content: '';
    }

    &::after {
        height: 7px;
        width: 1.5rem;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: rotate(-135deg);
        transform-origin: 0% 50%;
        border-radius: 5px;
        animation: tipGrow 1s;
        content: '';
    }

}

.loader.failSign {
    &::before {
        width: 3rem;
        height: 0.5rem;
        background: darkRed;
        transform-origin: 50% 50%;
        top: calc(50% - 0.25rem);
        left: calc(50% - 1.5rem);
        transform: rotate(45deg);
        position: absolute;
        content: '';
        border-radius: 10px;
        animation: leftIn 0.3s linear;
        content: '';
    }

    &::after {
        width: 3rem;
        height: 0.5rem;
        background: darkRed;
        transform-origin: 50% 50%;
        top: calc(50% - 0.25rem);
        right: calc(50% - 1.5rem);
        transform: rotate(-45deg);
        position: absolute;
        content: '';
        border-radius: 10px;
        animation: rightIn 0.3s linear;
        content: '';
    }
}

.loader.successSign, .loader.failSign {
    animation: pop 1.2s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 5px solid blue;
    }

    100% {
        transform: rotate(360deg);
        border-top: 5px solid blue;
    }
}

@keyframes tipGrow {
    0% {
        width: 0px;
        left: 0;
        top: 0;
    }

    25% {
        width: 0px;
        left: 0;
        top: 0;
    }

    50% {
        top: 0%;
        left: 0%;
        width: 0;
    }

    75% {
        top: 0%;
        left: 0%;
        width: 0rem;
    }

    100% {
        top: 65%;
        left: 50%;
        width: 1.5rem;
    }
}

@keyframes baseGrow {
    0% {
        width: 0;
    }

    90% {
        width: 0;
    }

    100% {
        width: 2.5rem;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes leftIn {
    0% {
        left: 0;
        top: 0;
        width: 0;
    }

    100% {
        top: calc(50% - 0.25rem);
        left: calc(50% - 1.5rem);
        width: 3rem;
    }
}

@keyframes rightIn {
    0% {
        right: 0;
        top: 0;
        width: 0;
    }

    100% {
        top: calc(50% - 0.25rem);
        right: calc(50% - 1.5rem);
        width: 3rem;
    }
}