@import url(/lib/fa/css/fa-all.min.css);

img {
    border-radius: 999px;
}

.spacebox {
    margin-bottom: 10px;
}

h2.resultLeadTitle {
    font-weight: bold;
    margin-top: 30px;
}

.topSpace {
    margin-top: 20px;
}

.copyElement:hover {
    cursor: pointer;
}

.copyElement:active {
    cursor: pointer;
}

.footerLink {
    text-decoration: none;
}


.counter {
    writing-mode: vertical-lr;
}

hr {
    border: solid 1px;
    width: 50%;
    margin: 30px 25% 30px 25% !important;
}

li {
    text-align: left;
}

textarea.center {
    text-align: center !important;
}

.left-align {
    text-align: left !important;
}