@using AnnOtter.WayToSecureExchange.Models.ViewModels;
@model DefaultViewModel;

<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" integrity="sha384-ef+Ddr0X69oyeUbiJpyf8Li8SAnA4HJgx0EauPODw1A9l4RMMNmdNhG13r7jSLpG">
    <link rel="stylesheet" href="/lib/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ">
    <title>@ViewData["Title"] - Ann Otter Way To Secure Exchange</title>

</head>

<body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">&nbsp;</h3>
            </div>
        </header>

        <main class="container image" data-bs-theme="dark">
            @if (Model.Appearance.ShowLogo)
            {
                <a title="Link to home" href="/"><img src="@Model.Appearance.LogoPath" width="128" alt="Ann Otter Way To Secure Exchange Logo" /></a>
            }
            
            @RenderBody()
        </main>

        <footer class="mt-auto text-white-50">
            <p>v0.10.0 // Created with ❤️ by <a class="footerLink" href="https://twitter.com/Ann_Otter_" target="_blank" rel="noopener" title="Link to Ann Otter's X-Account">Ann Otter</a></p>
            <p><i class="fa-brands fa-github"></i> <a class="footerLink" href="https://github.com/daniiiol/AnnOtter.WayToSecureExchange" target="_blank" rel="noopener" title="Check out our GitHub Repository for the source code and contributions.">GitHub Repository</a></p>
        </footer>
    </div>

    <script src="/lib/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"></script>
    <script src="/js/aes.js" integrity="sha384-q2CGx6p+PXRPD5h0ggPIpEiyFOeVn4ns4AoCJyjlRBdVrqZ3KD3M280O4xfiShy4"></script>
    <script src="/js/site.js" integrity="sha384-8ETbxWFTtJRTPjYIT1lSJL/DeLY4dBW4XoDt0OzdWHmKOZpoPCND/y7evvixw2P+"></script>
</body>

</html>