@using AnnOtter.WayToSecureExchange.Models.ViewModels;
@model DefaultViewModel;

<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" integrity="sha384-/w8pZDHRzY89XpOJ/DpeIQ3MEiePqL1LSyyvl79V37itttjSi8zzw/tajWeHf9rC" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/lib/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ">
    <title>@ViewData["Title"] - Ann Otter Way To Secure Exchange</title>

</head>

<body class="d-flex h-100 text-center text-bg-dark-ao">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">&nbsp;</h3>
            </div>
        </header>

        <main class="container image" data-bs-theme="dark">
            @if (Model.Appearance.ShowLogo)
            {
                <a title="Link to home" href="/"><img src="@Model.Appearance.LogoPath" width="128" alt="Ann Otter Way To Secure Exchange Logo" /></a>
            }
            
            @RenderBody()
        </main>

        <footer class="mt-auto text-ao">
            <p>v0.12.0 // <i class="fa-brands fa-github footerLink"></i> <a class="footerLink" href="https://github.com/daniiiol/AnnOtter.WayToSecureExchange" target="_blank" rel="noopener" title="Check out our GitHub Repository for the source code and contributions.">GitHub Repository</a></p>
        </footer>
    </div>

    <script src="/lib/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"></script>
    <script src="/js/aes.js" integrity="sha384-Wqw7eLuMAKohF3NUxOr+sp26R/j60QAeinMBfJ6wP9Q/tJ//yYIenRX7BjkyBm4S"></script>
    <script src="/js/site.js" integrity="sha384-kyfNb6h8/KZRS6fdxo3C5dMhhBaXw3Gs5oaPrtA+dO9cZCSgtoyoz2gwAP1AFn8X"></script>
</body>

</html>